<!-- <link
  href="https://fonts.googleapis.com/css?family=Montserrat"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<meta charset="UTF-8" />
<div>
  <h1 class="bg">
    <div class="container d-flex align-items-center h-100">
      <div class="row">
        <header class="text-center col-12">
          <h1 class="text-uppercase text-center">
            <strong>Welcome to Foodbox</strong>
          </h1>
        </header>

        <section class="text-center col-12">
          <hr />

          <button class="btn btnHead btn-lg btn-info" (click)="viewourfood()">
            View Our Food
          </button>
        </section>
      </div>
    </div>
  </h1>
</div> -->
<br />
<h1 class="bg">
  <header id="home" class="header">
    <div class="overlay text-white text-center m-10 p-5">
      <br />
      <br />
      <h1 class="font-weight-bold mt-10">Food Box</h1>

      <h2 class="display-4 mb-5">Always fresh &amp; Delightful</h2>
      <hr />

      <button class="btn btn-lg btn-primary" (click)="viewourfood()">
        Book your food
      </button>
      <br />

      <br />

      <p>
        Why step out when you can get everything delivered home with the tap of
        a button?
        <br />
        India's favourite delivery app to get your food.
      </p>
    </div>
  </header>
</h1>
